:root{
  --dark-color: #426e70;
  --light-color: #afcecf;
}
html, body{
    margin: 0; padding: 0;
}

.tg  {
  border-collapse:collapse;
  border-spacing:0; margin: 0 auto;

  margin: 2rem auto;
}
.tg td, .tg th{
  border: 1px solid cadetblue;
  font-size: 14px;
  padding: 10px;
}
.tg th{
  font-weight: bold !important;
  color: cadetblue;
}
.tg .tg-nrix{
  text-align:center;
  vertical-align:middle
}


body {
  background-color: var(--light-color) !important;
}
nav {
  width: 100%;
  position: sticky !important;
  top: 0;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  background-color: cadetblue;
  display: flex;
  justify-content: center !important;
  z-index: 3;
}
nav div a {
  background-color: var(--dark-color) !important;
  color: white !important;
  margin: .5rem !important;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
.btn:hover {
  background-color: var(--light-color)  !important;
  color:  var(--dark-color) !important;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.contents{
  margin: 0 auto;
  padding: 2rem;
  max-width: 75%;
  background-color: white;
}
h1 {
  color: var(--dark-color);
  font-weight: bold !important;
}
h2 {
  color: var(--dark-color);
  font-weight: bold !important;
  margin: 3rem auto 1.5rem auto !important;
}
h3 {
  color: cadetblue;
  margin-bottom: 1rem !important;
}
small {
  color: cadetblue;
}
.contents a {
  color: var(--dark-color);
}
.contents a:hover {
  color: cadetblue;
}
img {
  max-width: 400px;
}
figure{
  margin: 2rem !important;
  display: flex; flex-direction: column;
  justify-content: center; align-items: center;
}
figcaption{
  margin-top: .8rem;
  color: var(--dark-color);
}
b{
    color: cadetblue;
}
.table-div{
  display: flex;
  justify-content: center; align-items: center;
  background-color: red;
  width: 300px; height: 200px
}
.img3, .fig_large{
  height: auto; max-width: 100%;
  object-fit: contain;
}
.img3{ max-width: 100%;}
.fig3{
  display: flex;
  flex-direction: row;
  justify-content: center; align-items: center;
  overflow-x: scroll;
  flex-wrap: nowrap;
}
.fig_large { max-width: 50%;}
.fig2{  max-width: 600px;}
.fig_small {  max-width: 300px;}
