.img3, .fig_large{
  height: auto; max-width: 100%;
  object-fit: contain;
}
.img3{ max-width: 100%;}
.fig_large { max-width: 50%;}
.fig2{ max-width: 600px;}
.fig2alt{ max-height: 600px;}
.fig_small {  max-width: 300px;}
.fig_hscroll{
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  overflow-x: scroll;
  flex-wrap: nowrap;
}

.tg  {
  border-spacing:0; margin: 0 auto;
  margin: 2rem auto;
}
.tg .tg-nrix{
  text-align:center;
  vertical-align:middle
}
